@keyframes fadeout {
    0% {
        opacity: 100;
    }

    45% {
        opacity: 50;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 50;
    }

    100% {
        opacity: 100;
    }
}


section {
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 50%;
}

.projects {
    width: 70%;
}

.projects .row {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 25em));
}

/* .project:hover {
    transition-duration: 0.5s;
    transform: scale(1.2);
} */

.project img {
    width: 100%;
    height: auto;
}

.project title {
    text-align: center;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}