:root {
    --grid-square-size: 200px;
    --grid-square-size-two: calc(var(--grid-square-size) * 2);
    --grid-square-size-multiplier: 1.05;
}

.grid {
    padding: auto;
    text-align: center;
}

.grid-item {
    /*background-color: red;*/
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    margin: 0.3em;
    align-content: center;
    text-align: center;

    font-size: 1.65em;
    font-weight: bold;
    color: black;

    transition-duration: 0.5s;
}

.grid-item:hover {
    transform: scale(var(--grid-square-size-multiplier));
}

/* Sizing */
.grid-item.one {
    width: var(--grid-square-size);
    height: var(--grid-square-size);
}

.grid-item.one.two {
    width: var(--grid-square-size-two);
    height: var(--grid-square-size);
}

.grid-item.one.four {
    width: var(--grid-square-size);
    height: calc(var(--grid-square-size) * 2);
}

.grid-item.one.two.three.four {
    width: calc(var(--grid-square-size) * 2);
    height: calc(var(--grid-square-size) * 2);
}