:root {
    --grid-square-size: 200px;
    --grid-square-size-two: calc(var(--grid-square-size) * 2);
    --grid-square-size-multiplier: 1.05;
}

@keyframes fadeout {
    0% {
        opacity: 100;
    }

    45% {
        opacity: 50;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 50;
    }

    100% {
        opacity: 100;
    }
}

.grid {
    max-width: 1200px;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    /* Spacing */
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;

    /* Grid box styling */

    border: 2px solid black;
    border-radius: 5px;

    /* Content styling */
    text-align: center;
    transition-duration: 0.5s;
}

.grid-item h1 {
    font-size: 1.65em;
}

.grid-item a {
    /* Override default link styling, underlining is glitchy for some reason*/
    text-decoration: none;
    font-weight: bold;
}

.grid-item div.front {
    width: 90%;
    height: 90%;
    margin: auto;
}

.grid-item div.back {
    opacity: 0;
    display: none;
    width: 90%;
    height: 90%;
    margin: auto;
}

.grid-item:hover {
    transform: scale(var(--grid-square-size-multiplier));
}

.grid-item:hover div.front {
    animation: fadeout 0.15s;
    display: none;
    /* opacity: 0; */
}
.grid-item:hover div.back {
    animation: fadein 0.15s;
    display: contents;
    /* opacity: 0; */
}

/* Sizing */
.grid-item.one {
    width: var(--grid-square-size);
    height: var(--grid-square-size);
}

.grid-item.one.two {
    width: var(--grid-square-size-two);
    height: var(--grid-square-size);
}

.grid-item.one.four {
    width: var(--grid-square-size);
    height: calc(var(--grid-square-size) * 2);
}

.grid-item.one.two.three.four {
    width: calc(var(--grid-square-size) * 2);
    height: calc(var(--grid-square-size) * 2);
}