@charset "UTF-8";

html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-color: rgb(15, 54, 118);
    padding-top: 2%;
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2.5em;
}

a:hover {
    cursor: pointer;
}

header > h1 {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

body {
    min-height: 150%; /* Minimum height: browser window height * 1.5 */
    display: block; /* Forces body to stretch to fit content */
    background-color: rgb(248, 248, 248);
    width: 80%;
    min-width: 320px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 10px;
}

body > p {

}

/* Navbar */
nav#top_navbar {
    text-align: center;
    padding-bottom: 2.5%;
}

nav#top_navbar > ul {
    position: relative;
    list-style: none;
}

nav#top_navbar > ul > li {
    display: inline-block; /* Display list elements horizontally */
    padding-left: 0.0%;
    padding-right: 2.5%;
}

/* Navbar Links */
nav#top_navbar > ul > li > a {
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(132, 25, 25);

    transition-property: font-size; /* Only animate font size */
    transition-duration: 0.5s;
}

nav#top_navbar ul li:hover a {
    font-size: 1.65em;
}