:root {
    --foreground-color: black;
    --background-color: white;
}

@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}

html * {
    color: var(--foreground-color);
    background-color: var(--background-color);
}

@supports (font-variation-settings: normal) {
    html { 
        font-family: 'Inter var', sans-serif; 
    }
}

body {
    max-width: 70%;
    margin: auto;
    /* text-align: center; */
    align-content: center;
    align-items: center;
}

body > p {
    font-size: 1.2em;
    margin: auto;
}

header#titlebar {
    text-align: center;
    margin-bottom: 5%;
}

header#titlebar h1 {
    font-size: 4.5em;
    display: inline-block;
    padding-right: 1%;
}

header#titlebar nav {
    display: inline-block;
}

header#titlebar nav a {
    text-decoration: none;
    font-size: 1.2em;
    transition-property: font-size; /* Only animate font size */
    transition-duration: 0.5s;
}

header#titlebar nav a:hover {
    font-size: 1.4em;
}

header#titlebar nav a:active {
    font-size: 1.4em;
}

footer {
    margin-top: 5%;
}

* button {
    display: contents;
}

* button:hover {
    text-decoration: underline;
}