
@keyframes fadeout {
    0% {
        opacity: 100;
    }

    45% {
        opacity: 50;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 50;
    }

    100% {
        opacity: 100;
    }
}

:root {
    --foreground-color: black;
    /* --background-color: white; */
    --min-cols: 1;
    --max-cols: 2;
    --cols-min-width: 20em;
    --grid-row-gap: 3em; /* must be large enough to not interfere w/ hover anim */
    --grid-column-gap: 1em;
}

@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}

html * {
    color: var(--foreground-color);
    /* background-color: var(--background-color); */
}

@supports (font-variation-settings: normal) {
    html { 
        font-family: 'Inter var', sans-serif; 
    }
}

body {
    max-width: 70%;
    min-width: 375px;
    margin: auto;
}


section {
    margin: auto;
}

.about {
    width: 80%;
}

.projects {
    width: 80%;

    /* see: https://stackoverflow.com/questions/52417889/setting-minimum-and-maximum-number-of-columns-using-css-grid */
    display: grid;
    gap: var(--grid-row-gap) var(--grid-column-gap);
    grid-template-columns: repeat(auto-fit, minmax(min((100%/var(--min-cols) - var(--grid-column-gap)*(var(--min-cols) - 1)/var(--min-cols)), max(var(--cols-min-width), (100%/var(--max-cols) - var(--grid-column-gap)*(var(--max-cols) - 1)/var(--max-cols)))), 1fr));
}

/* .project:hover {
    transition-duration: 0.5s;
    transform: scale(1.2);
    z-index: 1; 
} */

.project {
    transition-duration: 0.5s;
    transform: scale(1.0);
    background: transparent url('/media/transparent.png') repeat center top;
}

.project img, video {
    width: 100%;
    height: auto;
}

.project iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.project h1 {
    text-align: center;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

/* .project details {
    text-align: center;
} */

/* .project details ul {
    list-style-type: none;
    padding-inline-start: 0;
} */

.project details summary {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.17em;
    font-weight: bold;

    cursor: pointer;
    user-select: none;

    transition-property: font-size; /* Only animate font size */
    transition-duration: 0.5s;
}

.project summary::-webkit-details-marker {
    display: none;
}

.project summary:hover {
    font-size: 1.25em;
}

.project details > summary > span {
    font-size: 0.7em;
    transition: all 0.3s;
    margin-right: 0.3em;
    margin-bottom: 0.2em;
}

.project details[open] > summary > span {
    transform: rotate(90deg);
}

.project details .detail {
    display: flex;
    justify-content: center;
}



.project details .banner {
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    margin-bottom: 0.83em;
 }

.project details .banner .where,.when {
    font-size: 1em;
    display: flex;
    width: fit-content;
    font-weight: bold;
    font-style: italic;
    margin-left: 0.25em;
    margin-right: 0.25em;
} 

.project details .with {
    font-size: 0.8em;
    background-color: black;
    color: white;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 0.4em;
    margin-left: 0.15em;
    margin-right: 0.15em;
}
.project details .title {
    font-weight: bold;
    min-width: 3.3em;
    margin-right: 0.3em;
}

.project details .content {
    flex: 1;
    text-align: center;
}

.project video, iframe {
    margin-top: 0.83em;
}

/* body > p {
    font-size: 1.2em;
    margin: auto;
} */

header#titlebar {
    text-align: center;
    margin-bottom: 5%;
}

header#titlebar h1 {
    font-size: 4.5em;
    display: inline-block;
    padding-right: 1%;
}

header#titlebar nav {
    display: inline-block;
}

header#titlebar nav a {
    text-decoration: none;
    font-size: 1.2em;
    transition-property: font-size; /* Only animate font size */
    transition-duration: 0.5s;
}

header#titlebar nav a:hover {
    font-size: 1.4em;
}

header#titlebar nav a:active {
    font-size: 1.4em;
}

footer {
    margin-top: 5%;
}

* button {
    display: contents;
}

* button:hover {
    text-decoration: underline;
}