.profile-pic {
    height: auto;
}

.profile-pic.portrait {
    max-width: 40%;
    border-radius: 10%;
}

.profile-pic.round {
    width: 20%;
    border-radius: 50%;
}

.profile-pic.float-right {
    float: right;
}

.profile-pic.float-left {
    float: left;
}