.projects {
    width: 80%;

    /* see: https://stackoverflow.com/questions/52417889/setting-minimum-and-maximum-number-of-columns-using-css-grid */
    display: grid;
    gap: var(--grid-row-gap) var(--grid-column-gap);
    grid-template-columns: repeat(auto-fit, minmax(min((100%/var(--min-cols) - var(--grid-column-gap)*(var(--min-cols) - 1)/var(--min-cols)), max(var(--cols-min-width), (100%/var(--max-cols) - var(--grid-column-gap)*(var(--max-cols) - 1)/var(--max-cols)))), 1fr));
}

.project img, lite-youtube {
    width: 100%;
    height: auto;
    margin-top: 0.83em;
}

.project iframe {
    aspect-ratio: 16/9;
}

.project h1 {
    text-align: center;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

.project details summary {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.17em;
    font-weight: bold;

    cursor: pointer;
    user-select: none;

    transition-property: font-size; /* Only animate font size */
    transition-duration: 0.5s;
}

.project summary::-webkit-details-marker {
    display: none;
}

.project summary:hover {
    font-size: 1.25em;
}

.project details > summary > span {
    font-size: 0.7em;
    transition: all 0.3s;
    margin-right: 0.3em;
    margin-bottom: 0.2em;
}

.project details[open] > summary > span {
    transform: rotate(90deg);
}

.project details .detail {
    display: flex;
    justify-content: center;
}

.project details .banner {
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    margin-bottom: 0.83em;
 }

 .project details .banner .where,
 .project details .banner .when {
    font-size: 0.9em;
    display: flex;
    width: fit-content;
    font-weight: bold;
    font-style: italic;
    margin-left: 0.25em;
    margin-right: 0.25em;
} 

.project details .with {
    font-size: 0.8em;
    background-color: black;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 0.4em;
    margin-left: 0.15em;
    margin-right: 0.15em;
}
.project details .title {
    font-weight: bold;
    min-width: 3.3em;
    margin-right: 0.3em;
}

.project details .content {
    flex: 1;
    text-align: center;
}